fifa_project_1-Copy Mar 10, 12h30.ipynb
fifa_project_1-Copy mar 11 before submission.ipynb
fifa_project_1-mar 11.ipynb
fifa_project_1-preliminary_data_exploration-Copy1.ipynb
fifa_project_2.ipynb
functions.py.ipynb
.DS_Store
